.footer {
  border-top: 3px solid #660000;
  margin-top: 20px;
  &-top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between;

    & > * {
      flex: 1 1 auto;
      margin: 10px;
    }
  }

  &-meters {
    display: flex;
    justify-content: flex-end;

    a {
      margin-left: 5px;
    }
  }

  &-bottom {
    display: flex;
    justify-content: flex-end;
  }
}

.authors-zone a {
  font-size: 12px;
}